# Unreal Engine build folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDE files
*.code-workspace

# Personal docs
ObsidianVault/
!ObsidianVault/DevDocs/
!ObsidianVault/Game Design/

# Optional
.vscode/
*.suo
*.user
*.userprefs
*.opensdf
*.sdf
*.cache
*.log
*.db
*.pdb
*.tmp
*.bak
*.local

# macOS / Linux / Windows junk
.DS_Store
Thumbs.db
*.swp
.cursorignore